<div class="container-fluid" id="banner" [style.height.px]="size" [style.backgroundImage]="'url(' + img + ')'">
    <div class="row">
        <div class="vcenter col-sm-12 col-md-8 col-lg-5" [style.backgroundColor]="color">
            <div class="animated fadeIn">
                <p>
                    <span class="text-banner text-white">
                      <h1 > {{ title }} </h1>
                      <h5>{{ text }}</h5>
                  </span>
                </p>
            </div>
        </div>
    </div>
</div>