<app-cover-page img='../../../assets/img/desktop2.jpg' size="500" title="Titulo de prueba" text=" Texto de pureba Texto de prueba Texto de pureba Texto de pureba" color="rgba(228, 105, 12, 0.75)">
</app-cover-page>

<div class="container-fluid p-0 m-0" style="background-color: white">

    <app-navbar></app-navbar>

    <div class="container col-10 mb-5 pt-5">
        <h2>¿Quiénes somos?</h2>
        <div class="row justify-content-between">
            <div class="col-12 col-lg-8 pl-0">
                <div class="col-12 p-2" style="height: 300px">
                    <div class="card text-left">
                        <div class="card-body">
                            <p class="card-text">
                                Queremos una empresa que nos brinde libertad e independencia para aprovechar la vida y no perder esos momentos que son únicos. Buscamos el compromiso y confianza como principales valores para formar una relación fuerte, que nos permita darnos ese tiempo
                                que es tan necesario hoy en día.
                                <br><br> Vivimos en una época fantástica donde la tecnología nos da infinitas posibilidades; te proponemos subirte a esta revolución, con nuestra ayuda y hacer un mundo más participativo y vinculante.
                                <br><br> Amamos la tecnología y sabemos que los beneficios que se optienen son incontables y sobre todo nos hacen la vida más fácil.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow animated bounceInRight pl" data-wow-iteration="1">
                <div class="prueba"></div>
            </div>
        </div>
        <hr>
        <div class="row justify-content-between">
            <div class="col-lg-4 wow animated bounceInLeft pr" data-wow-iteration="1">
                <div class="prueba"></div>
            </div>
            <div class="col-12 col-lg-8 pl-0">
                <div class="col-12 p-2" style="height: 300px">
                    <div class="card text-left">
                        <div class="card-body">
                            <p class="card-text">
                                Somos un grupo de profesionales que se formó con el objetivo de dar soluciones integrales a clientes que deseen crecer en el segmento digital; la tecnología permite desarrollar soluciones donde cada participante puede hacerlo desde distintos lugares del
                                mundo, con la libertad que ello implica. Este es el modelo que marca la tendencia en la actualidad y el que hemos adoptado, ya que permite gestionar soluciones desde distintos puntos.
                                <br><br>Imaginamos un servicio que no genere dependencias, estableciendo una relación de confianza y que ello estimule el crecimiento de cada emprendimiento.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-contact></app-contact>
    <app-footer></app-footer>

</div>