<app-navbar></app-navbar>

<app-cover-page img='../../../assets/img/who-we-are/cover.jpg' size="450" title="{{ 'WHO-WE-ARE.COVER-PAGE.TITLE' | translate }}" text="{{ 'WHO-WE-ARE.COVER-PAGE.SUBTITLE' | translate }}" color="rgb(73, 163, 45, 0.75)">
</app-cover-page>

<div class="container-fluid p-0 m-0" style="background-color: rgb(255, 255, 255)">



    <div class="container col-10 mb-5 pt-5">
        <h2>{{ 'WHO-WE-ARE.TITLE' | translate }}</h2>
        <div class="row justify-content-between">
            <div class="col-12 col-lg-8 pl-0">
                <div class="col-12 p-2">
                    <div class="card text-left  card-container">
                        <div class="card-body">
                            <p class="card-text">{{ 'WHO-WE-ARE.TEXT_1.P_1' | translate }}
                                <br><br> {{ 'WHO-WE-ARE.TEXT_1.P_2' | translate }}
                                <br><br> {{ 'WHO-WE-ARE.TEXT_1.P_3' | translate }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pl bg wow animated zoomIn">
                <div class="foto" style="background: url('../../../assets/img/who-we-are/card1.jpg') no-repeat center center" alt=""></div>
            </div>
        </div>
        <hr>
        <div class="row justify-content-between">
            <div class="col-lg-4 pr bg wow animated zoomIn">
                <div class="foto" style="background: url('../../../assets/img/who-we-are/card2.jpg') no-repeat center center" alt=""></div>
            </div>
            <div class="col-12 col-lg-8 pl-0">
                <div class="col-12 p-2">
                    <div class="card text-left  card-container">
                        <div class="card-body">
                            <p class="card-text">{{ 'WHO-WE-ARE.TEXT_2.P_1' | translate }}
                                <br><br>{{ 'WHO-WE-ARE.TEXT_2.P_2' | translate }} {{ 'WHO-WE-ARE.TEXT_2.P_3' | translate }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-contact></app-contact>
    <app-footer></app-footer>

</div>
