/* #banner {
    background: src="../../../assets/img/maqEscribir.jpg" no-repeat center center;
    height: 450px;
    background-size: cover;
    position: relative;
} */

#banner {
    background: url('../../../assets/img/maqEscribir.jpg');
    height: 675px;
    background-size: cover;
    position: relative;
}


/* .text-banner {
    position: absolute;
    top: 30%;
    left: 15%;
} */

@media (min-width: 500px) and (max-width: 1000px) {
    .text-banner {
        position: absolute;
        top: 30%;
        left: 8%;
    }
    .text-banner h1 {
        font-size: 4em;
    }
    .text-banner h5 {
        font-size: 2em;
    }
}

@media (min-width: 0px) and (max-width: 500px) {
    .text-banner {
        position: absolute;
        top: 30%;
        left: 0%;
    }
    .text-banner h1 {
        font-size: 2.5em;
    }
    .text-banner h5 {
        font-size: 1.3em;
    }
}

@media (min-width: 1000px) {
    .text-banner {
        position: absolute;
        top: 30%;
        left: 15%;
    }
    .text-banner h1 {
        font-size: 5em;
    }
    .text-banner h5 {
        font-size: 2em;
    }
}


/* filtro gris para banner de Qsomos */

#layer {
    background-color: rgba(29, 28, 28, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}