<!-- <div class="card">
    <img src="../../../assets/img/maqEscribir.jpg" class="card-img-top" alt="...">
</div> -->
<div class="div " id="banner">
    <div id="layer">
        <div class="vcenter text-white text-center" style="padding: 0 15%">
            <p>
                <span class="text-banner">
                   <h1> {{ 'SLIDER.TEXT1' | translate }} </h1>
                   <h5>{{ 'SLIDER.TEXT2' | translate }}</h5>
                </span>
            </p>
        </div>
    </div>
</div>