<!-- <div class="card">
    <img src="../../../assets/img/maqEscribir.jpg" class="card-img-top" alt="...">
</div> -->
<div class="div " id="banner">
    <div id="layer">
        <div class="vcenter text-white text-center" style="padding: 0 15%">
            <p>
                <span class="text-banner">
                   <h1>SOLUCIONES DIGITALES</h1>
                   <h5>¿Querés llevar a tu empresa al próximo nivel?</h5>
                </span>
            </p>
        </div>
    </div>
</div>