.card {
    height: 100%;
    border-radius: 0;
    border: none;
    /* background-color: rgb(241, 240, 237); */
}


/* .card:hover {
    -webkit-box-shadow: 10px 10px 15px 2px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 10px 10px 15px 2px rgba(0, 0, 0, 0.27);
    box-shadow: 10px 10px 15px 2px rgba(0, 0, 0, 0.27);
} */

h6 {
    margin-bottom: 20px;
}

.foto {
    background: no-repeat center center;
    /* background: grey; */
    background-size: cover;
    position: relative;
    background-position: center;
    height: 100%;
    max-height: 400px;
}

.bg {
    padding: 8px 20px;
}

.fas {
    color: #042788;
    margin-right: 10px;
}

@media (max-width: 990px) {
    .foto {
        height: 200px;
    }
    .bg {
        padding: 8px;
    }
}
