<app-cover-page img='../../../assets/img/desktop2.jpg' size="500" title="Titulo de ls prueba" text=" Texto de pureba Texto de pureba Texto de pureba Texto de pureba" color="rgba(194, 20, 20, 0.746)">
</app-cover-page>

<div class="container-fluid p-0 m-0" style="background-color: rgb(255, 255, 255)">

    <app-navbar></app-navbar>

    <div style="height: 80px; background-color: rgb(61, 61, 61)"></div>
    <div class="container col-10 my-5">
        <h1>Dispositivos Convenientes</h1>
        <div class="row justify-content-between">
            <div class="col-12 col-lg-8">
                <div class="row">
                    <div class="col-12 col-lg-6 p-2" style="height: 200px">
                        <div class="card text-left">
                            <img class="card-img-top" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Title</h4>
                                <p class="card-text">Body</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 p-2" style="height: 200px">
                        <div class="card text-left">
                            <img class="card-img-top" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Title</h4>
                                <p class="card-text">Body</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-12 p-2" style="height: 200px">
                        <div class="card text-left">
                            <img class="card-img-top" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Title</h4>
                                <p class="card-text">Body</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 wow animated slideInRight bg" data-wow-iteration="1">
                <div class="foto"></div>
            </div>
        </div>
    </div>

    <!-- altura del parallax ya definida en pixeles  array: [altura-parallax, url-imagen-fondo, color-filtro] -->
    <app-parallax parrafo="{{'BANNER.TEXT1' | translate}}" [estilos]="[400, 'https://blog.rentcars.com/content-page/uploads/2019/06/rota-dos-7-lagos-argentina.jpg', 'rgba(29, 28, 28, 0.65)']"></app-parallax>

    <div class="container col-10 my-5">
        <h1>Herramientas que utilizamos en la Ingeniería de Software</h1>
        <div class="row justify-content-between">
            <div class="col-12 col-lg-4 wow animated slideInLeft bg" data-wow-iteration="1">
                <div class="foto"></div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="row">
                    <div class="col-12 p-2" style="height: 300px">
                        <div class="card text-left">
                            <img class="card-img-top" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Title</h4>
                                <p class="card-text">Body</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-contact></app-contact>
    <app-footer></app-footer>

</div>
