<app-navbar></app-navbar>

<div class="container my-5">
    <h2>Dispositivos Convenientes</h2>
    <div class="row">
        <div class="col-9 bg-light">
            <div class="row">
                <div class="col-6 bg-secondary p-2" style="height: 200px">
                    <div class="card text-left">
                        <img class="card-img-top" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Title</h4>
                            <p class="card-text">Body</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 bg-secondary p-2" style="height: 200px">
                    <div class="card text-left">
                        <img class="card-img-top" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Title</h4>
                            <p class="card-text">Body</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 bg-success p-2" style="height: 200px">
                    <div class="card text-left">
                        <img class="card-img-top" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Title</h4>
                            <p class="card-text">Body</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 foto">
        </div>
    </div>
</div>

<app-parallax titulo="{{'BANNER.TEXT1' | translate}}"></app-parallax>

<div class="container my-5">
    <h2 text="'BANNER.TEXT1'"></h2>
    <div class="row">
        <div class="col-3 foto">
        </div>
        <div class="col-9 bg-light">
            <div class="col-12 bg-secondary p-2" style="height: 300px">
                <div class="card text-left">
                    <img class="card-img-top" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Body</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 foto">
        </div>
    </div>
</div>s