.card {
    height: 100%;
    border-radius: 0;
    background-color: transparent;
}

h1 {
    padding-bottom: 30px;
}

.foto {
    /* background: url("../../../assets/img/img-borrar1.png") no-repeat center center; */
    background-color: grey;
    background-size: cover;
    position: relative;
    background-position: center;
    margin: 8px 0px;
    max-height: 400px;
}