.card {
    height: 100%;
    border-radius: 0;
    border: none;
    /* background-color: rgb(241, 240, 237); */
}

.card-container {
    min-height: 150px;
}

h6 {
    margin-bottom: 60px;
}

.fas {
    color: #cc1f1f;
    margin-right: 10px;
}

.foto {
    background: no-repeat center center;
    background-size: cover !important;
    position: relative !important;
    background-position: center !important;
    height: 100%;
    /* min-height: 300px; */
}

.prueba {
    /* background: url("../../../assets/img/hands.jpg") no-repeat center center; */
    background: grey;
    background-size: cover;
    position: relative;
    background-position: center;
    height: 100%;
    /* max-height: 400px; */
}

.pr {
    padding: 8px 8px;
    padding-right: 20px;
}

.pl {
    padding: 8px 8px;
    padding-left: 20px;
}

@media (max-width: 990px) {
    .foto {
        height: 200px;
    }
    .bg {
        padding: 8px;
    }
}


/* parallax */

.vcenter .card {
    background-color: transparent;
    border: none;
}

.vcenter .card:hover {
    box-shadow: none;
}

.fondo {
    background: url("../../../assets/img/how-we-work/office-blur.jpg") no-repeat center center;
    height: 400px;
    background-size: cover;
    position: relative;
    background-position: center;
    background-attachment: fixed;
}

.filtro {
    background-color: rgba(29, 28, 28, 0.70);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg {
    padding: 8px 20px;
}

p,
h2,
h3,
h5,
h6 {
    text-align: justify;
}

hr {
    border: 2px solid white;
    margin: 30px 15%;
}

@media (min-width: 0px) and (max-width: 700px) {
    .text-banner {
        font-size: 1.4em;
        font-weight: 500;
    }
    hr {
        margin: 5px 15%;
    }
}

@media (min-width: 700px) and (max-width: 1280px) {
    .text-banner {
        font-size: 1.9em;
        font-weight: 500;
    }
}

@media (min-width: 1280px) {
    .text-banner {
        font-size: 2.5em;
        font-weight: 500;
    }
    .fondo {
        height: 400px !important;
    }
}
