<app-cover-page img='../../../assets/img/desktop2.jpg' size="500" title="Titulo de prueba" text=" Texto de pureba Texto de pureba Texto de pureba Texto de pureba" color="rgba(12, 185, 228, 0.75)">
</app-cover-page>

<div class="container-fluid p-0 m-0" style="background-color: rgb(255, 255, 255)">

    <app-navbar></app-navbar>

    <div class="container col-10 my-5">
        <h3>Adaptando y transformando la realidad del proyecto</h3>
        <h5>Implementación de sistemas a medida para simplificar las tareas y hacer más eficiente el negocio, elaborando estadísticas que ayuden a la toma de decisiones</h5>
        <div class="row justify-content-between">
            <div class="col-12 col-lg-8 pl-0">
                <div class="col-12 p-2" style="height: 150px">
                    <div class="card text-left">

                        <div class="card-body">
                            <h4 class="card-title">Proyectos digitales en ejecución</h4>
                            <p class="card-text">Implementar cambios que optimicen el funcionamiento y/o posicionamiento a proyectos heredados</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-2" style="height: 150px">
                    <div class="card text-left">

                        <div class="card-body">
                            <h4 class="card-title">Equipamiento tecnológico</h4>
                            <p class="card-text">Actualización del hardware obsoleto e incorporación de nuevos dispositivos según corresponda</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow animated slideInRight pl" data-wow-iteration="1">
                <div class="prueba"></div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-4 wow animated slideInLeft pr" data-wow-iteration="1">
                <div class="prueba"></div>
            </div>
            <div class="col-8 pr-0">
                <div class="col-12 p-2" style="height: 150px">
                    <div class="card text-left">

                        <div class="card-body">
                            <h4 class="card-title">Personal con conocimientos insuficientes</h4>
                            <p class="card-text">La capacitación del personal (jerárquico, administrativo y otras áreas), es fundamental para el aprovechamiento buscado en todo proyecto</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-2" style="height: 150px">
                    <div class="card text-left">

                        <div class="card-body">
                            <h4 class="card-title">Diseño e imagen de marca (Branding)</h4>
                            <p class="card-text">Los objetivos para la construcción de una marca que sea representativa</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fondo">
        <div class="filtro">
            <div class="vcenter text-white text-center col-10">
                <div class="card text-left">
                    <div class="card-body">
                        <h4 class="card-title">¿ Que valor agregado genera cada proyecto ?</h4>
                        <p class="card-text">Optimizar la gestión en tiempo real, facilita el mejoramiento de los niveles de rentabilidad y desempeño.</p>
                    </div>
                </div>
                <hr>
                <div class="card text-left">
                    <div class="card-body">
                        <h4 class="card-title">¿ Qué nos motiva hacer lo que hacemos ?</h4>
                        <p class="card-text">La tecnología nos impulsa a crecer junto a nuestros clientes, sin dependencias futuras, haciendo un mundo más participativo y vinculante.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- altura del parallax ya definida en pixeles  array: [altura-parallax, url-imagen-fondo, color-filtro] -->
    <!-- <app-parallax parrafo="{{'BANNER.TEXT1' | translate}}" [estilos]="[400, 'https://blog.rentcars.com/content-page/uploads/2019/06/rota-dos-7-lagos-argentina.jpg', 'rgba(29, 28, 28, 0.65)']"></app-parallax> -->


    <app-contact></app-contact>
    <app-footer></app-footer>

</div>