<app-navbar></app-navbar>

<app-cover-page img='../../../assets/img/how-we-work/cover-page-work.jpg' size="600" title="{{ 'HOW-WE-WORK.COVER-PAGE.TITLE' | translate }}" text="{{ 'HOW-WE-WORK.COVER-PAGE.SUBTITLE' | translate }}" color="rgba(4, 39, 136, 0.75)">
</app-cover-page>

<div class="container-fluid p-0 m-0" style="background-color: rgb(255, 255, 255)">



    <!-- <div class="container col-10 col-xl-10 my-5 mt-5">
        <div class="text-center">
            <h1>{{ 'HOW-WE-WORK.CARDS.TITLE' | translate }}</h1>
            <h5>{{ 'HOW-WE-WORK.CARDS.SUBTITLE' | translate }}</h5>
        </div>
    </div> -->

    <div class="container col-10 col-xl-8 my-5 mt-5">

        <div class="text-center">
            <h1>{{ 'HOW-WE-WORK.CARDS.TITLE' | translate }}</h1>
            <h5>{{ 'HOW-WE-WORK.CARDS.SUBTITLE' | translate }}</h5>
        </div>

        <div class="row justify-content-between mt-5">
            <div class="col-12 col-lg-7 pl-0">
                <div class="col-12 p-2 card-container">
                    <div class="card text-left">
                        <div class="card-body">
                            <h4 class="card-title"><i class="fas fa-cogs"></i>{{ 'HOW-WE-WORK.CARDS.CARD1.TITLE' | translate }}</h4>
                            <p class="card-text">{{ 'HOW-WE-WORK.CARDS.CARD1.BODY' | translate }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-2 card-container">
                    <div class="card text-left">
                        <div class="card-body">
                            <h4 class="card-title"><i class="fas fa-network-wired"></i>{{ 'HOW-WE-WORK.CARDS.CARD2.TITLE' | translate }}</h4>
                            <p class="card-text">{{ 'HOW-WE-WORK.CARDS.CARD2.BODY' | translate }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 wow animated slideInRight pl bg" data-wow-iteration="1">
                <div class="foto" style="background: url('../../../assets/img/how-we-work/work-card1.jpg') no-repeat center center" alt=""></div>
            </div>

        </div>

        <div class="row justify-content-between">
            <div class="col-lg-5 animated slideInLeft pr bg" data-wow-iteration="1">
                <div class="foto" style="background: url('../../../assets/img/how-we-work/card2.jpg') no-repeat center center" alt=""></div>
            </div>
            <div class="col-12 col-lg-7 pl-0">
                <div class="col-12 p-2 card-container">
                    <div class="card text-left">
                        <div class="card-body">
                            <h4 class="card-title"><i class="fas fa-user-clock"></i>{{ 'HOW-WE-WORK.CARDS.CARD3.TITLE' | translate }}</h4>
                            <p class="card-text">
                                {{ 'HOW-WE-WORK.CARDS.CARD3.BODY' | translate }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-2 card-container">
                    <div class="card text-left">
                        <div class="card-body">
                            <h4 class="card-title"> <i class="fas fa-paint-brush"></i>{{ 'HOW-WE-WORK.CARDS.CARD4.TITLE' | translate }}</h4>
                            <p class="card-text">{{ 'HOW-WE-WORK.CARDS.CARD4.BODY' | translate }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fondo">
        <div class="filtro">
            <div class="vcenter text-white text-center col-12 col-lg-10 p-0">
                <div class="card text-left">
                    <div class="card-body">
                        <h4 class="card-title text-center">{{ 'HOW-WE-WORK.PARALLAX.QUESTION1' | translate }}</h4>
                        <p class="card-text text-center">{{ 'HOW-WE-WORK.PARALLAX.RESPONSE1' | translate }}</p>
                    </div>
                </div>
                <hr>
                <div class="card text-left">
                    <div class="card-body">
                        <h4 class="card-title text-center">{{ 'HOW-WE-WORK.PARALLAX.QUESTION2' | translate }}</h4>
                        <p class="card-text text-center">{{ 'HOW-WE-WORK.PARALLAX.RESPONSE2' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- altura del parallax ya definida en pixeles  array: [altura-parallax, url-imagen-fondo, color-filtro] -->
    <!-- <app-parallax parrafo="{{'BANNER.TEXT1' | translate}}" [estilos]="[400, 'https://blog.rentcars.com/content-page/uploads/2019/06/rota-dos-7-lagos-argentina.jpg', 'rgba(29, 28, 28, 0.65)']"></app-parallax> -->


    <app-contact></app-contact>
    <app-footer></app-footer>

</div>