<app-cover-page img='../../../assets/img/how-we-work/cover-page-work.jpg' size="600" title="{{ 'HOW-WE-WORK.COVER-PAGE.TITLE' | translate }}" text="{{ 'HOW-WE-WORK.COVER-PAGE.SUBTITLE' | translate }}" color="rgba(4, 39, 136, 0.75)">
</app-cover-page>

<div class="container-fluid p-0 m-0" style="background-color: rgb(255, 255, 255)">

    <app-navbar></app-navbar>

    <div class="container col-10 my-5 mt-5">
        <h3>{{ 'HOW-WE-WORK.CARDS.TITLE' | translate }}</h3>
        <h5>{{ 'HOW-WE-WORK.CARDS.SUBTITLE' | translate }}</h5>
        <div class="row justify-content-between mt-5">
            <div class="col-12 col-lg-8 pl-0">
                <div class="col-12 p-2" style="height: 150px">
                    <div class="card text-left">

                        <div class="card-body">
                            <h4 class="card-title"><i class="fas fa-cogs"></i>{{ 'HOW-WE-WORK.CARDS.CARD1.TITLE' | translate }}</h4>
                            <p class="card-text">{{ 'HOW-WE-WORK.CARDS.CARD1.BODY' | translate }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-2" style="height: 150px">
                    <div class="card text-left">

                        <div class="card-body">
                            <h4 class="card-title"><i class="fas fa-network-wired"></i>{{ 'HOW-WE-WORK.CARDS.CARD2.TITLE' | translate }}</h4>
                            <p class="card-text">{{ 'HOW-WE-WORK.CARDS.CARD2.BODY' | translate }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow animated slideInRight pl" data-wow-iteration="1">
                <img class="foto" src="../../../assets/img/how-we-work/work-card1.jpg" alt="">
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-4 wow animated slideInLeft pr" data-wow-iteration="1">
                <img class="foto" src="../../../assets/img/how-we-work/card2.jpg" alt="">

            </div>
            <div class="col-8 pr-0">
                <div class="col-12 p-2" style="height: 150px">
                    <div class="card text-left">

                        <div class="card-body">
                            <h4 class="card-title"><i class="fas fa-user-clock"></i>{{ 'HOW-WE-WORK.CARDS.CARD3.TITLE' | translate }}</h4>
                            <p class="card-text">
                                {{ 'HOW-WE-WORK.CARDS.CARD3.BODY' | translate }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-2" style="height: 150px">
                    <div class="card text-left">

                        <div class="card-body">
                            <h4 class="card-title"> <i class="fas fa-paint-brush"></i>{{ 'HOW-WE-WORK.CARDS.CARD4.TITLE' | translate }}</h4>
                            <p class="card-text">{{ 'HOW-WE-WORK.CARDS.CARD4.BODY' | translate }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fondo">
        <div class="filtro">
            <div class="vcenter text-white text-center col-10">
                <div class="card text-left">
                    <div class="card-body">
                        <h4 class="card-title">{{ 'HOW-WE-WORK.PARALLAX.QUESTION1' | translate }}</h4>
                        <p class="card-text">{{ 'HOW-WE-WORK.PARALLAX.RESPONSE1' | translate }}</p>
                    </div>
                </div>
                <hr>
                <div class="card text-left">
                    <div class="card-body">
                        <h4 class="card-title">{{ 'HOW-WE-WORK.PARALLAX.QUESTION2' | translate }}</h4>
                        <p class="card-text">{{ 'HOW-WE-WORK.PARALLAX.RESPONSE2' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- altura del parallax ya definida en pixeles  array: [altura-parallax, url-imagen-fondo, color-filtro] -->
    <!-- <app-parallax parrafo="{{'BANNER.TEXT1' | translate}}" [estilos]="[400, 'https://blog.rentcars.com/content-page/uploads/2019/06/rota-dos-7-lagos-argentina.jpg', 'rgba(29, 28, 28, 0.65)']"></app-parallax> -->


    <app-contact></app-contact>
    <app-footer></app-footer>

</div>
