<div class="container-fluid" style="background-color: rgb(241, 240, 237); padding: 80px 0 80px 0">
    <div class="container">
        <div class="row">
            <div class="d-none d-md-block col-sm-12 col-md-6">
                <div class="card vcenter  border-0" style="background-color: rgb(241, 240, 237)">
                    <div class="card-body">
                        <h1 style="font-size: 50px ">{{'SHARED.CONTACT.TITLE' | translate}}<br><span class="title2">{{'SHARED.CONTACT.TITLE2' | translate}}</span></h1>
                    </div>
                </div>
            </div>
            <div class="d-md-none col-sm-12 col-md-6  ">
                <div class="card vcenter  border-0" style="background-color: rgb(241, 240, 237)">
                    <div class="card-body">
                        <h1 style="font-size: 40px ">{{'SHARED.CONTACT.TITLE2' | translate}}</h1>
                    </div>
                </div>
            </div>
            <form [formGroup]="message" (ngSubmit)="onSubmit() " class="col-md-6 col-sm-12">

                <div class="form-row" formGroupName="fullName">
                    <div class="form-group col-md-6 ">
                        <label>{{'SHARED.CONTACT.NAME' | translate}}*</label>
                        <input type="text " class="form-control rounded border border-secondary " formControlName="name" placeholder="{{'SHARED.CONTACT.NAME' | translate}}">
                    </div>
                    <div class="form-group col-md-6 ">
                        <label>{{'SHARED.CONTACT.LAST' | translate}}</label>
                        <input type="text " class="form-control rounded border border-secondary " formControlName="lastName" placeholder="{{'SHARED.CONTACT.LAST' | translate}} ">
                    </div>
                </div>
                <div class="form-row ">
                    <div class="form-group col-md-6 ">
                        <label>{{'SHARED.CONTACT.EMAIL' | translate}}*</label>
                        <input type="email " class="form-control rounded border border-secondary " formControlName="email" placeholder="{{'SHARED.CONTACT.EMAIL' | translate}}">
                    </div>
                    <div class="form-group col-md-6 ">
                        <label>{{'SHARED.CONTACT.SEARCH' | translate}}</label>
                        <select formControlName="interest" class="form-control rounded border border-secondary ">
                            <option>{{'SHARED.CONTACT.DEFAULT' | translate}}</option>
                            <option>{{'SHARED.CONTACT.OP1' | translate}}</option>
                            <option>{{'SHARED.CONTACT.OP2' | translate}}</option>
                            <option>{{'SHARED.CONTACT.OP3' | translate}}</option>
                            <option>{{'SHARED.CONTACT.OP4' | translate}}</option>
                            <option>{{'SHARED.CONTACT.OP5' | translate}}</option>
                            <option>{{'SHARED.CONTACT.OTHER' | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group ">
                    <label>{{'SHARED.CONTACT.INFO' | translate}}</label>
                    <textarea class="form-control rounded border border-secondary " formControlName="textarea" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-danger rounded enviarBtn">{{'SHARED.CONTACT.SEND' | translate}}</button>
            </form>

        </div>
    </div>
</div>