/* --------------------ANIMACION---------------------- */

.active {
    position: relative;
    animation-name: activate;
    animation-duration: 2s;
}

.nule {
    position: relative;
    animation-name: nule;
    animation-duration: 2s;
    opacity: 0;
}

.hidden {
    position: relative;
    animation-name: hid;
    animation-duration: 2s;
    opacity: 0;
}

@keyframes activate {
    0% {
        left: 400px;
        top: 0px;
        opacity: 0;
    }
    100% {
        left: 0px;
        top: 0px;
        opacity: 1;
    }
}

@keyframes hid {
    0% {
        left: 0px;
        top: 0px;
        opacity: 1;
    }
    100% {
        left: 400px;
        top: 0px;
        opacity: 0;
    }
}

@keyframes nule {
    0% {
        left: 400px;
        top: 0px;
        opacity: 0;
    }
    100% {
        left: 400px;
        top: 0px;
        opacity: 0;
    }
}


/* --------------------ESTILOS----------------------- */

.info {
    padding-left: 40px;
    padding-right: 80px;
}

.accordion {
    width: 60%;
}

.noBorder {
    border: none;
    background-color: rgb(241, 240, 237);
}

.fontTitle {
    font-size: 20px;
    color: red;
    font-weight: 600;
    text-decoration: none;
}

.vertical-center {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translate(-50%, -50%);
}

.bg {
    background-color: rgb(241, 240, 237);
}

.pos {
    position: relative;
    top: 0;
    left: 0;
}

.pos2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.capa {
    position: relative;
    background-color: rgb(241, 240, 237);
    padding: 0;
    margin: 0;
}


/* ---------------------TAMAÑO DE LA ANIMACION---------------------- */

img {
    height: 700px;
}


/* ---------------------TAMAÑO RESPONSIVO--------------------- */

@media (max-width: 1280px) {
    .x img {
        height: 400px;
    }
}


/* ---------------------TRANSICION DEL LA ANIMACION DEL ACCORDEON------------------- */

.collapsing {
    transition: 1s ease-in-out;
}