<div class="container-fluid" style="overflow: hidden">
    <div class="row">
        <div class="col-6 bg-info" id="outer">
            <div id="inner">Foo foo</div>
        </div>
        <div class="capa bg-info col-6 px-0">
            <div class="test pos">
                <img src="{{imagen[0]}}" alt="Paris">
            </div>
            <div class="test2 pos2">
                <img src="{{imagen[1]}}" alt="Paris">
            </div>
            <div class="test3 pos2">
                <img src="{{imagen[2]}}" alt="Paris">
            </div>
        </div>
    </div>
</div>