<div class="container-fluid px-0" style="overflow: hidden">
    <div class="row px-0">
        <div class="col-8 px-0 bg-info"></div>
        <div class="capa col-4 px-0">
            <div class="div1 pos">
                <img src="{{imagen[0]}}" alt="Paris">
            </div>
            <div class="div2 pos2">
                <img src="https://www.wolox.com.ar/assets/img-main-wwd-greenco-dd1eff9fd0.png" alt="Paris">
            </div>
            <div class="div3 pos2">
                <img src="https://www.wolox.com.ar/assets/img-main-wwd-prime-b6b14a09fd.png" alt="Paris">
            </div>
            <!-- <div class="div1 pos" *ngFor="let img of imagen">
                <img src="{{imagen[0]}}" alt="Paris">
            </div> -->
        </div>
    </div>
</div>