<div class="container-fluid bg-info" style="overflow: hidden">
    <div class="row p-0">
        <div class="col-12 col-xl-5 bg cont p-0">
            <div class="container vertical-center3">
                <div class="vertical-center2">
                    <img src="https://cdn141.picsart.com/278161560006211.png?r1024x1024" alt="" style="height: 800px;">
                </div>
                <div class="accordion vertical-center" id="accordionExample">
                    <div class="card noBorder">
                        <div class="card-header noBorder px-0" id="headingOne">
                            <h2 class="mb-0 noBorder fontTitle">
                                <button class="btn btn-link fontTitle noBorder" id="boton1" (click)="this.btn1()" style="padding-left: 0" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                DESARROLLO WEB
                              </button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body noBorder info">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute.
                            </div>
                        </div>
                    </div>
                    <div class="card noBorder">
                        <div class="card-header noBorder px-0" id="headingTwo">
                            <h2 class="mb-0 noBorder  ">
                                <button class="btn btn-link collapsed fontTitle noBorder" id="boton2" (click)="this.btn2()" style="padding-left: 0" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                DESARROLLO MOVIL
                              </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body noBorder info">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute.
                            </div>
                        </div>
                    </div>
                    <div class="card noBorder">
                        <div class="card-header noBorder px-0" id="headingThree">
                            <h2 class="mb-0 noBorder">
                                <button #myDiv class="btn btn-link collapsed fontTitle noBorder" id="boton3" (click)="this.btn3()" style="padding-left: 0" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                APPS MULTIPLATAFORMA
                              </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body noBorder info">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="capa col-12 col-xl-7 px-0">
            <div class="pos x">
                <img src="{{imagen[0]}}" [class]='anim1' alt="no pic">
            </div>
            <div class="pos2 x">
                <img src="{{imagen[1]}}" [class]='anim2' alt="no pic">
            </div>
            <div class="pos2 x">
                <img src="{{imagen[2]}}" [class]='anim3' alt="no pic">
            </div>
        </div>
    </div>
    <div class="row bg radio" style="height: 300px;">

    </div>
</div>