@font-face {
    font-family: moderna;
    src: url('../fonts/MODERNA_.TTF');
}

@font-face {
    font-family: TypoGraphic;
    src: url('../fonts/TypoGraphica.otf');
}

@font-face {
    font-family: Comodo;
    src: url('../fonts/Comodo\ Vintage\ Free.ttf');
}