<div class="container-fluid py-5" style="background-color: rgb(241, 240, 237)">
    <div class="div" id="banner">
        <div id="layer">
            <div class="vcenter text-white text-center">
                <p><span class="text-banner"> SITIOS WEB, APLICACIONES MÓVILES Y EMPRESARIALES <br>
               DESARROLLO DE SOFTWARE PERSONALIZADO</span></p>
                <p><span class="text-banner2">Brindamos servicios completos que cubren todos los aspectos de la ingenieria del software </span></p>
            </div>
        </div>
    </div>
</div>