<div class="container-fluid py-5" style="background-color: rgb(241, 240, 237)">
    <div class="div" id="banner">
        <div id="layer">
            <div class="vcenter text-white text-center">
                <div class="wow animated fadeIn" data-wow-iteration="1" style="background-color: transparent; z-index: 10">
                    <p><span class="text-banner"> {{ 'HOME.BANNER1.TEXT1' | translate }} <br>
                        {{ 'HOME.BANNER1.TEXT2' | translate }}</span></p>
                    <p><span class="text-banner2">{{ 'HOME.BANNER1.TEXT3' | translate }}</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
