<nav class="navbar navbarT fixed-top" id="navbar" style="overflow: hidden">
    <div class="container col-10 ml-5 mr-0" style="padding-left: 100px">

        <a class="navbar-brand" href="#home">
            <img src="../../../assets/img/logo3.png" alt="">
        </a>
        <div id="menu" class="cent" [ngStyle]=" { 'display': opciones } ">
            <a class="navbar-brand white" id="navText" href="#Servicios">
                <span>Servicios</span>
            </a>
            <a class="navbar-brand white" id="navText" href="#ComoTrabajamos">
                <span>¿Como trabajamos?</span>
            </a>
        </div>
        <button class="navbar-toggler white-border" (click)="handleMenu()" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" id="toggle">
          <span class="navbar-toggler-icon white-icon" id="toggleIcon"></span>
        </button>
    </div>
    <div class="container col-1" style="padding-right: 5%">
        <div class="row">
            <a class="flags" (click)="langChange()" *ngIf=(this.langEs)><span style="color: white">ES </span> 
            <img src="../../../assets/img/spain.svg" alt="">
        </a>
            <a class="flags" (click)="langChange()" *ngIf=(!this.langEs)><span style="color: white">EN </span> 
            <img src="../../../assets/img/united-states.svg" alt="">
        </a>
        </div>
    </div>
</nav>
<nav class="navbar navbarT fixed-top" id="navbar2">
    <div class="container-fluid justify-content-center col-12 m-0 pr-0">
        <a class="navbar-brand" routerLink="home">
            <img src="../../../assets/img/logo3.png" alt="">
        </a>
        <div style="padding-left: 20px">
            <a class="flags" (click)="langChange()" *ngIf=(this.langEs)><span style="color: white">ES </span> 
                <img src="../../../assets/img/spain.svg" alt="">
            </a>
            <a class="flags" (click)="langChange()" *ngIf=(!this.langEs)><span style="color: white">EN </span> 
                <img src="../../../assets/img/united-states.svg" alt="">
            </a>
        </div>
        <!-- <a class="navbar-brand white zeiboxH" id="navText" routerLink="home">
            <span id="items">Z E I B O X</span>
        </a> -->
        <!-- <button class="navbar-toggler white-border" (click)="handleMenu()" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" id="toggle">
                <span class="navbar-toggler-icon white-icon" id="toggleIcon"></span>
              </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active px-2">
                    <a class="navbar-brand white" id="navText" routerLink="#/home">
                        <span>QUIENES SOMOS</span>
                    </a>
                </li>
                <li class="nav-item active px-2">
                    <a class="navbar-brand white" id="navText" routerLink="#/home">
                        <span>SERVICIOS</span>
                    </a>
                </li>
            </ul>
        </div> -->
    </div>
</nav>