<nav class="navbar navbarT fixed-top" id="navbar">
    <div class="container">
        <a class="navbar-brand" href="#home">
            <img src="../../../assets/img/logo1.png" alt="">
        </a>
        <a class="navbar-brand white mr-auto zeiboxH" id="navZeibox" href="#home">
            <span id="items">Z E I B O X</span>
        </a>
        <div id="menu" class="cent" [ngStyle]=" { 'display': opciones } ">
            <a class="navbar-brand white" id="navText" href="#Servicios">
                <span>Servicios</span>
            </a>
            <a class="navbar-brand white" id="navText" href="#ComoTrabajamos">
                <span>¿Como trabajamos?</span>
            </a>
        </div>
        <button class="navbar-toggler white-border" (click)="handleMenu()" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" id="toggle">
          <span class="navbar-toggler-icon white-icon" id="toggleIcon"></span>
        </button>
    </div>
</nav>
<nav class="navbar navbarT fixed-top" id="navbar2">
    <div class="container justify-content-center">
        <a class="navbar-brand" routerLink="home">
            <img src="../../../assets/img/logo1.png" alt="">
        </a>
        <a class="navbar-brand white zeiboxH" id="navText" routerLink="home">
            <span id="items">Z E I B O X</span>
        </a>
        <!-- <button class="navbar-toggler white-border" (click)="handleMenu()" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" id="toggle">
                <span class="navbar-toggler-icon white-icon" id="toggleIcon"></span>
              </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active px-2">
                    <a class="navbar-brand white" id="navText" routerLink="#/home">
                        <span>QUIENES SOMOS</span>
                    </a>
                </li>
                <li class="nav-item active px-2">
                    <a class="navbar-brand white" id="navText" routerLink="#/home">
                        <span>SERVICIOS</span>
                    </a>
                </li>
            </ul>
        </div> -->
    </div>
</nav>