.card {
    height: 100%;
    border-radius: 0;
    border: none;
    /* background-color: rgb(241, 240, 237); */
}


/* .card:hover {
  -webkit-box-shadow: 10px 10px 15px 2px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 10px 10px 15px 2px rgba(0, 0, 0, 0.27);
  box-shadow: 10px 10px 15px 2px rgba(0, 0, 0, 0.27);
} */

h6 {
    margin-bottom: 20px;
}

p,
h2,
h3,
h5,
h6 {
    text-align: justify;
}

.foto {
    /* background: no-repeat center center; */
    /* background: grey; */
    background-size: cover !important;
    position: relative !important;
    background-position: center !important;
    height: 100%;
    /* max-height: 400px; */
    min-height: 200px;
}

.bg {
    padding: 8px 20px;
}

.fas {
    color: #042788;
    margin-right: 10px;
}

.textoBannerGris {
    padding: 2% 0;
    font-size: 17px;
}

.textoBannerGris p {
    margin: 0;
}

@media (max-width: 990px) {
    .bg {
        height: 200px;
        /* visibility: hidden; */
    }
    .bg {
        padding: 8px;
    }
}

@media (max-width: 500px) {
    .textoBannerGris {
        font-size: 14px;
    }
}