.fondo {
    background: url("../../../assets/img/home/banner2a.jpg") no-repeat center center;
    height: 500px;
    background-size: cover;
    position: relative;
    background-position: center;
    background-attachment: fixed;
}

#filtro {
    background-color: rgba(29, 28, 28, 0.856);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.text-banner {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

p {
    margin: 0;
}

@media (min-width: 0px) and (max-width: 700px) {
    .text-banner {
        font-size: 1.4em;
        font-weight: 500;
    }
    .fondo {
        height: 300px !important;
    }
}

@media (min-width: 700px) and (max-width: 1280px) {
    .text-banner {
        font-size: 1.9em;
        font-weight: 500;
    }
    .bannerParaf {
        font-size: 18px;
    }
}

@media (min-width: 1280px) {
    .text-banner {
        font-size: 2.5em;
        font-weight: 500;
    }
    .bannerParaf {
        font-size: 20px;
    }
    .fondo {
        height: 350px !important;
    }
}