<div class="fondo" [ngStyle]="asignarEstilos()" id="fondo">
    <div id="filtro" [ngStyle]="asignarOpacidad()">
        <div class="vcenter text-white text-center col-10" *ngIf="bannerText == undefined; else textOn">
            <p>
                <span class="text-banner txt"> {{ bannerTitle }}</span>
            </p>
        </div>
        <ng-template #textOn>
            <div class="vcenter text-white text-center col-10">
                <p>
                    <span class="text-banner txt"> {{ bannerTitle }} </span> <br> <br> <span class="bannerParaf">{{ bannerText }}</span>
                </p>
            </div>
        </ng-template>
    </div>
</div>