/* You can add global styles to this file, and also import other style files */


/* @media only screen and (max-width: 768px) {
    .navbar {
        background-color: rgb(0, 0, 0, 0.4);
    }
} */

.sombra {
    box-shadow: 0px 100px 100px 100px rgba(27, 27, 27, 0.521);
}

.vcenter {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1200px) {
    #data-footer {
        display: none;
    }
    #footSmall {
        display: block;
    }
}

@media (min-width: 1200px) {
    #footSmall {
        display: none;
    }
}