<div class="container-fluid py-5" style="background-color: rgb(241, 240, 237)">
    <div class="row justify-content-center">
        <div class="card shadow test cardFull  img-hover-zoom img-hover-zoom--basic col-12 col-md-3 col-lg-3 col-xl-4 text-center">
            <div class="overlay2">
                <div class="text2" style="color: #FC4742">DESARROLLO WEB</div>
            </div>
            <div class="overlay">
                <div class="text" style="color: white">DESARROLLO WEB</div>
            </div>
        </div>
        <div class="card shadow test cardFull  img-hover-zoom img-hover-zoom--basic col-12 col-md-3 col-lg-3 col-xl-4 text-center">
            <div class="overlay2">
                <div class="text2" style="color: #FC4742">APLICACIONES MOVILES</div>
            </div>
            <div class="overlay">
                <div class="text" style="color: white">APLICACIONES MOVILES</div>
            </div>
        </div>
        <div class="card shadow test cardFull  img-hover-zoom img-hover-zoom--basic col-12 col-md-3 col-lg-3 col-xl-4 text-center">
            <div class="overlay2">
                <div class="text2" style="color: #FC4742">E-COMMERCE</div>
            </div>
            <div class="overlay">
                <div class="text" style="color: white">E-COMMERCE</div>
            </div>
        </div>
        <div class="card shadow test cardFull  img-hover-zoom img-hover-zoom--basic col-12 col-md-3 col-lg-3 col-xl-4 text-center">
            <div class="overlay2">
                <div class="text2" style="color: #FC4742">SOFTWARE EMPRESARIAL</div>
            </div>
            <div class="overlay">
                <div class="text" style="color: white">SOFTWARE EMPRESARIAL</div>
            </div>
        </div>
        <div class="card shadow test cardFull  img-hover-zoom img-hover-zoom--basic col-12 col-md-3 col-lg-3 col-xl-4 text-center">
            <div class="overlay2">
                <div class="text2" style="color: #FC4742">MARKETING DIGITAL</div>
            </div>
            <div class="overlay">
                <div class="text" style="color: white">MARKETING DIGITAL</div>
            </div>
        </div>
        <div class="card shadow test cardFull  img-hover-zoom img-hover-zoom--basic col-12 col-md-3 col-lg-3 col-xl-4 text-center">
            <div class="overlay2">
                <div class="text2" style="color: #FC4742">SOPORTE</div>
            </div>
            <div class="overlay">
                <div class="text" style="color: white">SOPORTE</div>
            </div>
        </div>
    </div>
</div>