<div class="container-fluid" style="background-color: rgb(241, 240, 237)">
    <div class="container-fluid col-11 " style="padding-bottom: 100px;">
        <div class="accordion row justify-content-center" id="accordionExample">
            <div class="card shadow2 test cardFull img-hover-zoom img-hover-zoom--basic col-12 col-lg-6 col-lg-4 col-xl-4 text-center" data-toggle="collapse" id="headingOne" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <div class="overlay2">
                    <div class="text2" style="color: #FC4742">DESARROLLO WEB</div>
                </div>
                <div class="overlay">
                    <div class="text" style="color: white">DESARROLLO WEB</div>
                </div>
            </div>

            <div id="headingTwo" class="card shadow2 test cardFull  img-hover-zoom img-hover-zoom--basic col-12 col-lg-6 col-lg-4 col-xl-4 text-center" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <div class="overlay2">
                    <div class="text2" style="color: #FC4742">APLICACIONES MOVILES</div>
                </div>
                <div class="overlay">
                    <div class="text" style="color: white">APLICACIONES MOVILES</div>
                </div>
            </div>

            <div id="headingThree" class="card shadow2 test cardFull  img-hover-zoom img-hover-zoom--basic col-12 col-lg-6 col-lg-4 col-xl-4 text-center" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <div class="overlay2">
                    <div class="text2" style="color: #FC4742">E-COMMERCE</div>
                </div>
                <div class="overlay">
                    <div class="text" style="color: white">E-COMMERCE</div>
                </div>
            </div>

            <div id="headingFour" class="card shadow2 test cardFull img-hover-zoom img-hover-zoom--basic col-12 col-lg-6 col-lg-4 col-xl-4 text-center" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <div class="overlay2 ">
                    <div class="text2 " style="color: #FC4742 ">ASESORAMIENTO</div>
                </div>
                <div class="overlay ">
                    <div class="text " style="color: white ">ASESORAMIENTO</div>
                </div>
            </div>

            <div id="headingfive" class="card shadow2 test cardFull img-hover-zoom img-hover-zoom--basic col-12 col-lg-6 col-lg-4 col-xl-4 text-center" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <div class="overlay2 ">
                    <div class="text2 " style="color: #FC4742 ">SOFTWARE EMPRESARIAL</div>
                </div>
                <div class="overlay ">
                    <div class="text " style="color: white ">SOFTWARE EMPRESARIAL</div>
                </div>
            </div>

            <div id="headingSix" class="card shadow2 test cardFull img-hover-zoom img-hover-zoom--basic col-12 col-lg-6 col-lg-4 col-xl-4 text-center" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                <div class="overlay2 ">
                    <div class="text2 " style="color: #FC4742 ">MARKETING DIGITAL</div>
                </div>
                <div class="overlay ">
                    <div class="text " style="color: white ">MARKETING DIGITAL</div>
                </div>
            </div>

        </div>
    </div>
</div>
