<div class="container-fluid" style="background-color: rgb(241, 240, 237)">
    <div class="container-fluid col-11 " style="padding-bottom: 100px;">
        <div class="accordion row justify-content-center" id="accordionExample">
            <div class="card shadow2 test cardFull img-hover-zoom img-hover-zoom--basic col-12 col-lg-6 col-lg-4 col-xl-4 text-center" data-toggle="collapse" id="headingOne" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <div class="overlay2">
                    <div class="text2" style="color: #FC4742">DESARROLLO WEB</div>
                </div>
                <div class="overlay">
                    <div class="text" style="color: white">DESARROLLO WEB</div>
                </div>
            </div>
            <div id="headingTwo" class="card shadow2 test cardFull  img-hover-zoom img-hover-zoom--basic col-12 col-lg-6 col-lg-4 col-xl-4 text-center" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <div class="overlay2">
                    <div class="text2" style="color: #FC4742">APLICACIONES MOVILES</div>
                </div>
                <div class="overlay">
                    <div class="text" style="color: white">APLICACIONES MOVILES</div>
                </div>
            </div>
            <div id="headingThree" class="card shadow2 test cardFull  img-hover-zoom img-hover-zoom--basic col-12 col-lg-6 col-lg-4 col-xl-4 text-center" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <div class="overlay2">
                    <div class="text2" style="color: #FC4742">E-COMMERCE</div>
                </div>
                <div class="overlay">
                    <div class="text" style="color: white">E-COMMERCE</div>
                </div>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="../../../assets/img/009.jpg" class="img-fluid" alt="" style="width: 80%; height: 80%;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-block px-2 ">
                                <h5 class="card-text ml-5 mr-5 mt-5 ">
                                    <i class="far fa-hand-point-right "></i> Creamos webs que responden a distintos dispositivos, es decir que se ven bien tanto en una PC como en una tablet o celular.
                                </h5>
                                <h5 class="card-text ml-5 mr-5 mt-4 ">
                                    <i class="far fa-hand-point-right "></i> Puede disponer de correos empresariales
                                </h5>
                                <h5 class="card-text ml-5 mr-5 mt-4 ">
                                    <i class="far fa-hand-point-right "></i> Podemos hacer su pagina multilenguaje para tener un mayor alcance
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="collapseTwo " class="collapse " aria-labelledby="headingTwo " data-parent="#accordionExample ">
                <div class="card ">
                    <div class="row no-gutters ">
                        <div class="col-md-4 ">
                            <img src="../../../assets/img/003.jpg " class="img-fluid " alt=" " style="width: auto; height: 300px; ">
                        </div>
                        <div class="col-md-8 ">
                            <div class="card-block px-2 ">
                                <h5 class="card-text ml-5 mr-5 mt-5 ">
                                    EL futuro está en los SMARTPHONES. Cada vez se hacen mas parte de nuestra vida y tu empresa debe adaptarse rapidamente a esta realidad. Hoy en día accedemos a internet mediante nuestro celular no solo para distraernos si no tambien para buscar informacion
                                    y hasta para trabajar.
                                </h5>
                                <h5 class="card-text ml-5 mr-5 mt-4 ">
                                    Creamos aplicaciones para que gestiones tu negocio y aumentes tu productividad de una manera nunca vista.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="collapseThree " class="collapse " aria-labelledby="headingThree " data-parent="#accordionExample ">
                <div class="card ">
                    <div class="row no-gutters ">
                        <div class="col-md-5 ">
                            <img src="../../../assets/img/004.jpg " class="img-fluid " alt=" " style="width: auto; height: 300px; ">
                        </div>
                        <div class="col-md-7 ">
                            <div class="card-block px-2 ">
                                <h5 class="card-text ml-5 mr-5 mt-5 ">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div id="headingFour " class="card shadow2 test cardFull img-hover-zoom img-hover-zoom--basic col-12 col-lg-6 col-lg-4 col-xl-4 text-center " data-toggle="collapse " data-target="#collapseFour " aria-expanded="false " aria-controls="collapseFour ">
                <div class="overlay2 ">
                    <div class="text2 " style="color: #FC4742 ">ASESORAMIENTO</div>
                </div>
                <div class="overlay ">
                    <div class="text " style="color: white ">ASESORAMIENTO</div>
                </div>
            </div>
            <div id="headingfive " class="card shadow2 test cardFull img-hover-zoom img-hover-zoom--basic col-12 col-lg-6 col-lg-4 col-xl-4 text-center " data-toggle="collapse " data-target="#collapseFive " aria-expanded="false " aria-controls="collapseFive ">
                <div class="overlay2 ">
                    <div class="text2 " style="color: #FC4742 ">SOFTWARE EMPRESARIAL</div>
                </div>
                <div class="overlay ">
                    <div class="text " style="color: white ">SOFTWARE EMPRESARIAL</div>
                </div>
            </div>
            <div id="headingSix " class="card shadow2 test cardFull img-hover-zoom img-hover-zoom--basic col-12 col-lg-6 col-lg-4 col-xl-4 text-center " data-toggle="collapse " data-target="#collapseSix " aria-expanded="false " aria-controls="collapseSix ">
                <div class="overlay2 ">
                    <div class="text2 " style="color: #FC4742 ">MARKETING DIGITAL</div>
                </div>
                <div class="overlay ">
                    <div class="text " style="color: white ">MARKETING DIGITAL</div>
                </div>
            </div>


            <div id="collapseFour " class="collapse " aria-labelledby="headingFour " data-parent="#accordionExample ">
                <div class="card ">
                    <div class="row no-gutters ">
                        <div class="col-md-5 ">
                            <img src="../../../assets/img/009.jpg " class="img-fluid " alt=" " style="width: auto; height: 300px; ">
                        </div>
                        <div class="col-md-7 ">
                            <div class="card-block px-2 ">
                                <h5 class="card-text ml-5 mr-5 mt-5 ">
                                    Aconsejamos a nuestros clientes para que tomen las mejores decisiones digitales y se centren en hacer crecer su negocio. Planificamos su estrategia digital.
                                </h5>
                                <h5 class="card-text ml-5 mr-5 mt-4 ">
                                    Gestionamos el dominio y el hosting donde alojar su pagina de una manera muy simple. No tiene que preocuparse por el registro ni el mantenimiento. Nos aseguramos que su pagina esté siempre online.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="collapseFive " class="collapse " aria-labelledby="headingFive " data-parent="#accordionExample ">
                <div class="card ">
                    <div class="row no-gutters ">
                        <div class="col-md-5 ">
                            <img src="../../../assets/img/003.jpg " class="img-fluid " alt=" " style="width: auto; height: 300px; ">
                        </div>
                        <div class="col-md-7 ">
                            <div class="card-block px-2 ">
                                <h5 class="card-text ml-5 mr-5 mt-5 ">
                                    Desarrollamos entornos de trabajo que aporten un valor adicional a tu negocio, como extraer datos y estadisticas para un posterior analisis.
                                </h5>
                                <h5 class="card-text ml-5 mr-5 mt-4 ">
                                    Gestion de empleados y de stock de manera local como a traves de un celular.
                                </h5>
                                <h5 class="card-text ml-5 mr-5 mt-4 ">
                                    Creacion de intranet
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="collapseSix " class="collapse " aria-labelledby="headingSix " data-parent="#accordionExample ">
                <div class="card ">
                    <div class="row no-gutters ">
                        <div class="col-md-5 ">
                            <img src="../../../assets/img/004.jpg " class="img-fluid " alt=" " style="width: auto; height: 300px; ">
                        </div>
                        <div class="col-md-7 ">
                            <div class="card-block px-2 ">
                                <h5 class="card-text ml-5 mr-5 mt-5 ">
                                    Interconectamos en la web todas tus redes sociales para incrementar el alcance y exposicion de tu marca. Además de potenciar el branding de la misma creando campañas efectivas.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>