<div class="container-fluid py-5" style="background-color: rgb(241, 240, 237)">
    <div class="container-fluid col-11">
        <div class="row justify-content-center">
            <div class="col-12 text-center pt-5 pb-4" style="color: rgb(65, 65, 65);">
                <a><span style="font-size: 50px; font-weight:600"> ¿Cómo trabajamos? </span></a>
            </div>
            <div class="card shadow test cardFull  img-hover-zoom img-hover-zoom--basic col-12 col-md-6 col-lg-6 col-xl-3 text-center">
                <div class="overlay2">
                    <div class="text2" style="color: #FC4742">RELEVAMIENTO<br><i class="fas fa-clipboard-list fa-3x pt-2"></i></div>
                </div>
                <div class="overlay">
                    <div class="text" style="color: white"><strong>1</strong><br> Documentamos la información necesaria de tu emprendimiento.</div>
                </div>
            </div>
            <div class="card shadow test cardFull  img-hover-zoom img-hover-zoom--basic col-12 col-md-6 col-lg-6 col-xl-3 text-center">
                <div class="overlay2">
                    <div class="text2" style="color: #FC4742">ESTRATEGIA<br><i class="fas fa-lightbulb fa-3x pt-2"></i></div>
                </div>
                <div class="overlay">
                    <div class="text" style="color: white"><strong>2</strong><br> Planificamos tu proyecto según tus intereses e intenciones.</div>
                </div>
            </div>
            <div class="card shadow test cardFull  img-hover-zoom img-hover-zoom--basic col-12 col-md-6 col-lg-6 col-xl-3 text-center">
                <div class="overlay2">
                    <div class="text2" style="color: #FC4742">DESARROLLO<br><i class="fas fa-cogs fa-3x pt-2"></i></div>
                </div>
                <div class="overlay">
                    <div class="text" style="color: white"><strong>3</strong><br> Creamos tú aplicacion a medida.</div>
                </div>
            </div>
            <div class="card shadow test cardFull  img-hover-zoom img-hover-zoom--basic col-12 col-md-6 col-lg-6 col-xl-3 text-center">
                <div class="overlay2">
                    <div class="text2" style="color: #FC4742">SOPORTE<br><i class="fas fa-tools fa-3x pt-2"></i></div>
                </div>
                <div class="overlay">
                    <div class="text" style="color: white"><strong>4</strong><br> Brindamos capacitación y asesoramiento acorde a tus necesidades.</div>
                </div>
            </div>
        </div>
    </div>
</div>