.container {
    position: relative;
    width: 50%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    /* opacidad por defecto */
    opacity: 0;
    transition: .2s ease;
}

.overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    /* opacidad por defecto */
    opacity: 1;
}

.overlay3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    /* opacidad por defecto */
    opacity: 1;
}

.overlay4 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    /* opacidad por defecto */
    opacity: 0;
}

.test {
    background-color: white;
}

.test:hover {
    background-color: #FC4742;
}

.card:hover .overlay {
    opacity: 1;
}

.card:hover .overlay2 {
    opacity: 0;
}

.card:hover .overlay3 {
    opacity: 0;
}

.card:hover .overlay4 {
    opacity: 1;
}


/* 
.card:hover .overlay2 .text2 {
    top: 30%;
    left: 50%;
    font-size: 40px;
} */

.text {
    color: white;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.text2 {
    color: white;
    font-size: 30px;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.text3 {
    color: white;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.text4 {
    color: white;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


/* ----------------------------------------------------------------------------------------------------------- */

#layer {
    background-color: rgba(29, 28, 28, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#layerBg {
    background-color: rgba(29, 28, 28, 0.199);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#layer2 {
    background-color: rgba(29, 28, 28, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vcenter {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


/*  */

.center-div {
    margin: 0 auto;
    width: 100px;
}

.img-hover-zoom {
    overflow: hidden;
}

.img-hover-zoom--basic img {
    transition: transform 1s ease;
}

.img-hover-zoom--basic:hover img {
    transform: scale(1.5);
}

.img-hover-zoom--point img {
    transform-origin: 15% 80%;
    transition: transform 1.5s, filter .5s ease-out;
}

.img-hover-zoom--point:hover img {
    transform: scale(1.5);
}


/* llena el 100% del div usando el ancho maximo de la imagen */

img {
    max-width: 100%;
    vertical-align: middle;
}

.cardFull {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 10%;
    height: 300px;
}


/* Oculta la informacion del footer a 1200px */

@media (max-width: 1200px) {
    #data-footer {
        display: none;
    }
}

@media (max-width: 794px) {
    #bg {
        height: 700px;
    }
    .cardFull {
        height: 300px;
    }
}

@media (max-width: 615px) {
    #bg {
        height: 400px;
    }
    .cardFull {
        height: 300px;
    }
}

@media (min-width: 0px) and (max-width: 1000px) {
    .text-banner {
        font-size: 1.2em;
    }
}

@media (min-width: 1000px) {
    .text-banner {
        font-size: 2em;
    }
}


/*-----------------------------------Footer info--------------*/

#cardFoot {
    background-color: rgb(63, 62, 70);
    border: none;
    border-radius: 0;
}

#cardFoot p {
    color: grey;
}