<div class="container-fluid py-5">
    <div class="row justify-content-center">
        <div class="card cardFull  img-hover-zoom img-hover-zoom--basic col-12 col-md-6 col-lg-6 col-xl-3 text-center">
            <img src="../../../assets/img/paisaje4.jpg" style="overflow: hidden;">
            <div class="overlay2">
                <div class="text2">RELEVAMIENTO</div>
            </div>
            <div class="overlay">
                <div class="text">Trabajamos en conjunto con el cliente para recopilar la informacion necesaria.</div>
            </div>
        </div>
        <div class="card cardFull  img-hover-zoom img-hover-zoom--basic col-12 col-md-6 col-lg-6 col-xl-3 text-center">
            <img src="../../../assets/img/paisaje4.jpg" style="overflow: hidden;">
            <div class="overlay2">
                <div class="text2">ESTRATEGIA</div>
            </div>
            <div class="overlay">
                <div class="text">Requisitos mínimos</div>
            </div>
        </div>
        <div class="card cardFull  img-hover-zoom img-hover-zoom--basic col-12 col-md-6 col-lg-6 col-xl-3 text-center">
            <img src="../../../assets/img/paisaje4.jpg" style="overflow: hidden;">
            <div class="overlay2">
                <div class="text2">DESARROLLO</div>
            </div>
            <div class="overlay">
                <div class="text">Requisitos mínimos</div>
            </div>
        </div>
        <div class="card cardFull  img-hover-zoom img-hover-zoom--basic col-12 col-md-6 col-lg-6 col-xl-3 text-center">
            <img src="../../../assets/img/paisaje4.jpg" style="overflow: hidden;">
            <div class="overlay2">
                <div class="text2">SOPORTE</div>
            </div>
            <div class="overlay">
                <div class="text">Requisitos mínimos</div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid py-5">
    <div class="row justify-content-center ">
        <div class="card cardFull  img-hover-zoom img-hover-zoom--basic col-12 col-md-6 col-lg-6 text-center pl-3 py-3">
            <div style="overflow: hidden;"><img src=" ../../../assets/img/arrow.jpg "></div>
            <div class="overlay3 ">
                <div class="text3 "><span class="fa-stack fa-1x ">
                    <i class="far fa-circle fa-stack-2x "></i>
                    <strong class="fa-stack-1x ">1</strong>
                  </span> - RELEVAMIENTO</div>
            </div>
            <div class="overlay4 ">
                <div class="text4 ">Documentamos la informacion necesaria del proyecto.</div>
            </div>
        </div>
        <div class="card cardFull img-hover-zoom img-hover-zoom--basic col-12 col-md-6 col-lg-6 text-center pr-3 py-3 ">
            <div style="overflow: hidden;"><img src="../../../assets/img/paisaje4.jpg"></div>
            <div class="overlay2 ">
                <div class="text2 ">ESTRATEGIA</div>
            </div>
            <div class="overlay ">
                <div class="text ">Requisitos mínimos</div>
            </div>
        </div>
        <div class="card cardFull img-hover-zoom img-hover-zoom--basic col-12 col-md-6 col-lg-6 text-center ">
            <img src="../../../assets/img/paisaje4.jpg " style="overflow: hidden; ">
            <div class="overlay2 ">
                <div class="text2 ">DESARROLLO</div>
            </div>
            <div class="overlay ">
                <div class="text ">Requisitos mínimos</div>
            </div>
        </div>
        <div class="card cardFull img-hover-zoom img-hover-zoom--basic col-12 col-md-6 col-lg-6 text-center bg-dark ">
            <!-- <img src="../../../assets/img/paisaje4.jpg " style="overflow: hidden; "> -->
            <div class="overlay3 ">
                <div class="text3 "><span class="fa-stack fa-2x ">
                    <i class="far fa-circle fa-stack-2x "></i>
                    <strong class="fa-stack-1x ">02</strong>
                  </span></div>
            </div>
            <div class="overlay4 ">
                <div class="text4 ">Requisitos mínimos</div>
            </div>
        </div>
    </div>
</div>