<div class="container-fluid py-5" style="background-color: rgb(241, 240, 237)">
    <div class="row justify-content-center px-5">
        <div class="card shadow test cardFull  img-hover-zoom img-hover-zoom--basic col-12 col-md-6 col-lg-6 col-xl-3 text-center">
            <div class="overlay2">
                <div class="text2 px-2" style="color: #FC4742">RELEVAMIENTO<br><i class="fas fa-clipboard-list fa-3x pt-2"></i></div>
            </div>
            <div class="overlay">
                <div class="text" style="color: white">Documentamos la información necesaria del proyecto.</div>
            </div>
        </div>
        <div class="card shadow test cardFull  img-hover-zoom img-hover-zoom--basic col-12 col-md-6 col-lg-6 col-xl-3 text-center">
            <div class="overlay2">
                <div class="text2" style="color: #FC4742">ESTRATEGIA<br><i class="fas fa-lightbulb fa-3x pt-2"></i></div>
            </div>
            <div class="overlay">
                <div class="text" style="color: white">Planificamos el proyecto según tus intereses e intenciones.</div>
            </div>
        </div>
        <div class="card shadow test cardFull  img-hover-zoom img-hover-zoom--basic col-12 col-md-6 col-lg-6 col-xl-3 text-center">
            <div class="overlay2">
                <div class="text2" style="color: #FC4742">DESARROLLO<br><i class="fas fa-cogs fa-3x pt-2"></i></div>
            </div>
            <div class="overlay">
                <div class="text" style="color: white">Creamos tú aplicacion a medida.</div>
            </div>
        </div>
        <div class="card shadow test cardFull  img-hover-zoom img-hover-zoom--basic col-12 col-md-6 col-lg-6 col-xl-3 text-center">
            <div class="overlay2">
                <div class="text2" style="color: #FC4742">SOPORTE<br><i class="fas fa-tools fa-3x pt-2"></i></div>
            </div>
            <div class="overlay">
                <div class="text" style="color: white">Brindamos capacitación y aseoramiento acorde a tus necesidades.</div>
            </div>
        </div>
    </div>
</div>