<div class="container-fluid py-3" style="background-color: rgb(63, 62, 70)" id="data-footer">
    <div class="container-fluid col-9 ">
        <div class="row">
            <div class="card text-white col-3 px-0" id="cardFoot">
                <div class="card-body text-left ">
                    <h5 class="card-title">{{ 'FOOTER.TITLEa' | translate }}</h5><br>
                    <p class="card-text">{{ 'FOOTER.TEXTa1' | translate }}</p>
                    <p class="card-text">{{ 'FOOTER.TEXTa2' | translate }}</p>
                    <p class="card-text">{{ 'FOOTER.TEXTa3' | translate }}</p>
                </div>
            </div>
            <div class="card text-white col-3 px-0" id="cardFoot">
                <div class="card-body text-left ">
                    <h5 class="card-title">{{ 'FOOTER.TITLEb' | translate }}</h5><br>
                    <p class="card-text">{{ 'FOOTER.TEXTb1' | translate }}</p>
                    <p class="card-text">{{ 'FOOTER.TEXTb2' | translate }}</p>
                    <p class="card-text">{{ 'FOOTER.TEXTb3' | translate }}</p>
                    <p class="card-text">{{ 'FOOTER.TEXTb4' | translate }}</p>
                    <p class="card-text">{{ 'FOOTER.TEXTb5' | translate }}</p>
                </div>
            </div>
            <div class="card text-white col-3 px-0" id="cardFoot">
                <div class="card-body text-left ">
                    <h5 class="card-title">{{ 'FOOTER.TITLEc' | translate }}</h5><br>
                    <p class="card-text">{{ 'FOOTER.TEXTc1' | translate }}</p>
                    <p class="card-text">{{ 'FOOTER.TEXTc2' | translate }}</p>
                    <p class="card-text">{{ 'FOOTER.TEXTc3' | translate }}</p>
                    <p class="card-text">{{ 'FOOTER.TEXTc4' | translate }}</p>
                    <p class="card-text">{{ 'FOOTER.TEXTc5' | translate }}</p>
                    <p class="card-text">{{ 'FOOTER.TEXTc6' | translate }}</p>
                    <p class="card-text">{{ 'FOOTER.TEXTc7' | translate }}</p>
                    <p class="card-text">{{ 'FOOTER.TEXTc8' | translate }}</p>
                </div>
            </div>
            <div class="card text-white col-3 px-0" id="cardFoot">
                <div class="card-body text-left ">
                    <h5 class="card-title">{{ 'FOOTER.TITLEd' | translate }}</h5><br>
                    <p class="card-text">{{ 'FOOTER.TEXTd1' | translate }}</p>
                    <p class="card-text">{{ 'FOOTER.TEXTd2' | translate }}</p>
                    <p class="card-text">{{ 'FOOTER.TEXTd3' | translate }}</p>
                    <p class="card-text">{{ 'FOOTER.TEXTd4' | translate }}</p>
                </div>
            </div>
        </div>
        <hr style="border: 1px solid white; margin: 20px 0 0 0;">
    </div>
</div>
<div class="container-fluid py-3 pt-0" style="background-color: rgb(63, 62, 70)" id="data-footer">
    <div class="container-fluid col-9 pt-0">
        <div class="row text-white pb-4">
            <div class="col-6 datosF" style="height: 50px">
                <img src="../../../assets/img/logof3.png" alt="">
            </div>
            <div class="col-6 text-right datosF" style="padding-top: 20px"></div>
            <div class="col-6 datosF">+54 9 11 3860-8657</div>
            <div class="col-6 text-right datosF">{{ 'FOOTER.POLICY' | translate }}</div>
            <div class="col-6 datosF">info@zeibox.com</div>
            <div class="col-6 text-right datosF">Copyright 2019 © ZEIBOX</div>
        </div>
    </div>
</div>
<div class="container-fluid text-center mb-0 pb-0 " style="height: 80px; background-color: rgb(36, 34, 41); color: white; line-height: 80px; overflow: hidden;" id="footSmall">
    <p><span style="font-size: 15px; color: grey">Copyright 2019 © ZEIBOX</span></p>
</div>