<div class="container-fluid py-3" style="background-color: rgb(63, 62, 70)" id="data-footer">
    <div class="container-fluid col-9 ">
        <div class="row">
            <div class="card text-white col-3 px-0" id="cardFoot">
                <div class="card-body text-left ">
                    <h5 class="card-title">ESPECIALIDAD</h5><br>
                    <p class="card-text">Aplicaciones Web</p>
                    <p class="card-text">Aplicaciones Móviles</p>
                    <p class="card-text">Intranet</p>
                </div>
            </div>
            <div class="card text-white col-3 px-0" id="cardFoot">
                <div class="card-body text-left ">
                    <h5 class="card-title">SERVICIOS</h5><br>
                    <p class="card-text">Desarrollo Web</p>
                    <p class="card-text">Desarrollo Movil</p>
                    <p class="card-text">Desarrollo de Software Empresarial</p>
                    <p class="card-text">Mantenimiento y Soporte</p>
                    <p class="card-text">Asesoramiento</p>
                </div>
            </div>
            <div class="card text-white col-3 px-0" id="cardFoot">
                <div class="card-body text-left ">
                    <h5 class="card-title">TECNOLOGIAS</h5><br>
                    <p class="card-text">Angular</p>
                    <p class="card-text">Node-js</p>
                    <p class="card-text">Express</p>
                    <p class="card-text">Java</p>
                    <p class="card-text">Javascript</p>
                    <p class="card-text">Typescript</p>
                    <p class="card-text">Ionic</p>
                    <p class="card-text">Cordova</p>
                </div>
            </div>
            <div class="card text-white col-3 px-0" id="cardFoot">
                <div class="card-body text-left ">
                    <h5 class="card-title">PLATAFORMAS</h5><br>
                    <p class="card-text">Ios</p>
                    <p class="card-text">Android</p>
                    <p class="card-text">Windows</p>
                    <p class="card-text">Linux</p>
                </div>
            </div>
        </div>
        <hr style="border: 1px solid white; margin: 20px 0 0 0;">
    </div>
</div>
<div class="container-fluid py-3 pt-0" style="background-color: rgb(63, 62, 70)" id="data-footer">
    <div class="container-fluid col-9 pt-0">
        <div class="row text-white pb-4">
            <div class="col-6 datosF" style="height: 50px">
                <img src="../../../assets/img/logof3.png" alt="">
            </div>
            <div class="col-6 text-right datosF" style="padding-top: 20px"></div>
            <div class="col-6 datosF">+54 9 11 3860-8657</div>
            <div class="col-6 text-right datosF">Política de Privacidad</div>
            <div class="col-6 datosF">info@zeibox.com</div>
            <div class="col-6 text-right datosF">Copyright 2019 © ZEIBOX</div>
        </div>
    </div>
</div>
<div class="container-fluid text-center mb-0 pb-0 " style="height: 80px; background-color: rgb(36, 34, 41); color: white; line-height: 80px; overflow: hidden;" id="footSmall">
    <p><span style="font-size: 15px; color: grey">Copyright 2019 © ZEIBOX</span></p>
</div>