.cc {
    width: 100px;
    height: 100px;
    position: relative;
}

.c1,
.c2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.c2 {
    z-index: 10;
}